.topSplash {
    background: url("images/background.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid white;
}

.subBox {
    background-color: black;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
    color: #e5e5e5;
    border: 1px solid #424242;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mainContent {
    background-image: url("images/tilebackground4.png");
    padding-top: 1em;
    padding-bottom: 1em;
}

.video-aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
}

.dl-horizontal dt {
    white-space: normal;
}

body {
    background-color: #191D1F;
}