@model Company_Website.Models.Subscribe
@{
    ViewBag.Title = "Visionary Games | Project Phoenix Rising";
}

<div class="container-fluid topSplash">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <img src="~/Content/images/GameLogo.png" class="logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 subBox">
            <h4>Project Phoenix Rising is a Third Person action MOBA in development by Visionary Games. Subscribe to our newsletter below to get the latest updates on the game's progress.</h4>
            <br />

            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Edit-Email-form" }))
            {
                @Html.AntiForgeryToken();
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10  col-sm-offset-0 col-sm-9">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", @class = "form-control subscribeText" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3">
                        <input type="submit" value="Subscribe" class="subscribeButton" />
                    </div>
                </div>
            }
            <br />
            <h4>You can also join the community on Reddit and Discord!</h4>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-5">
                    <a href="https://www.reddit.com/r/visionary_games/" target="new"><img src="~/Content/images/RedditLarge.png" class="logo" /></a>
                </div>
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-5">
                    <a href="https://discord.gg/dCM5HSP" target="new"><img src="~/Content/images/DiscordLarge.png" class="logo" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mainContent">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 subBox">
            Visionary Games is an indie development studio that was created by a collection of people located all around the world with a singular idea in mind: to create high quality, visually spectacular, mechanically driven games with the communities ideas as the foundation of development.
            <br /><br />
            Our current project under development is called Project: Phoenix Rising and is aimed to be a 3D Z-axis Multiplayer Action Real Time Strategy game that incorporates the basic fundamentals found in most moba’s, but differs by being 3rd person with Z-axis input. The art style will be based on realism while having many sci-fi and fantasy elements present.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
            <div class="video-aspect-ratio">
                <iframe class="youtubeEmbed" src="https://www.youtube.com/embed/Er86ti6A670" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <br />

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/images/Carousel1.png" alt="1" class="logoFull">
                    </div>

                    <div class="item">
                        <img src="~/Content/images/Carousel3.png" alt="3" class="logoFull">
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
        <div class="row">
            <div class="col-sm-8" style="color: white;">
                <div class="legal">Copyright Visionary Games 2018</div>
                <a href="https://www.reddit.com/r/visionary_games/" target="new"><img src="~/Content/images/RedditSmall.png" class="socialLogoSmall"></a>
                <a href="https://discord.gg/dCM5HSP" target="new"><img src="~/Content/images/DiscordSmall.png" class="socialLogoSmall"></a>
                <a href="https://www.youtube.com/channel/UCyOsSbf2fEiOC20HRs5_9uQ" target="new"><img src="~/Content/images/YouTubeSmall.png" class="socialLogoSmall"></a>
                <a href="https://www.facebook.com/VisionaryGamesOfficial/" target="new"><img src="~/Content/images/FacebookSmall.png" class="socialLogoSmall"></a>
                <a href="https://trello.com/b/wfDe9i61/public-roadmap" target="new"><img src="~/Content/images/TrelloSmall.png" class="socialLogoSmall"></a>
            </div>
            <div class="col-sm-4" style="color: white;">
                <img src="~/Content/images/CompanyLogo.png" class="logoFull">
            </div>
        </div>
    </div>
</div>